@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
  font-family: "Lobster Two", sans-serif;

  @apply w-screen h-screen;
  background: linear-gradient(
    to bottom left,
    rgb(248, 242, 242),
    rgb(248, 242, 242),
    rgb(248, 242, 242),
    rgb(248, 242, 242),
    rgb(248, 242, 242),
    rgb(248, 242, 242),
    rgb(248, 242, 242),
    rgb(248, 242, 242),
    rgb(178, 178, 192)
  );
  background-size: 15px 15px;
}

.special-icon {
  @apply cursor-pointer hover:bg-green-500
   hover:text-white rounded hover:shadow-lg
   hover:shadow-green-400 text-green-600;
}

header .link {
  @apply hover:text-pink-900 hover:scale-125 transition-all;
}

.active {
  @apply text-pink-900 scale-150;
}
